body{
    background-color: rgb(110, 111, 114);
}

h1{
    text-align: center;
    color: black;
}

section{
    background-color: rgb(112, 101, 238);
    border-radius: 15px;
    margin: auto;
    padding: 1px;
    box-shadow: 5px 5px 10px rgba(8, 8, 8, 0.637);
    width: 1000px;
    
    
}
div#edit{
    margin: 15px;
    font: 12pt italic;
}
div#res{
    text-align: center;
}
