<form action="/enviar" method="POST">
    <p>Qual seu nome ?</p>
    <input type="text" name="nome">
    <p>qual o seu número</p>
    <input type="number" name="numero">
    <br>
    <button type="submit">confirmar</button>
</form>