.bodyShowList{
    width: 30rem;
    height: 45rem;
}

.student{
    color: var(--colorFont);

    width: 29rem;
    margin: 0 auto;

    padding: 0 1rem;
}

.primaryInfo{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    
    overflow: auto;
    height: 2rem;
}

.name span{
    font-size: 1.4rem;
    font-weight: 400;
}

.attributes{
    display: flex;
    gap: 1rem;

    
}

svg{
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
}

svg:nth-child(3):hover{
    fill: rgb(196, 0, 0);
}

svg:nth-child(2):hover{
    fill: rgb(0, 174, 255);
}

svg:nth-child(1):hover{
    fill: rgb(0, 174, 255);
}

.infoStudents{
    font-size: 1.2rem;

    visibility: hidden;
    transform: translateY(-3rem);

    
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
} 

.showInfo{
    transition: all 500ms;
    visibility: visible;
    transform: translateY(0);
}