<main>
  <div class="content">
      <div class="header">
          <span>Lista de alunos</span>
          <nav>
            <div (click)="showStudents()">Exibir</div>
            <div (click)="addStundent()">Adicionar</div>
          </nav> 
      </div>
  
      <section class="bodyList">
          <div class="bodyshow">
              <div class="section updateStudent">
                  <app-update></app-update>
              </div>

              <div class="section showStudents">
                  <app-aluno></app-aluno>
              </div>

              <div class="section addStudent">
                  <app-create-student></app-create-student>
              </div>
          </div>

          <router-outlet></router-outlet>
      </section>
  </div>
</main>
