<section>
    <span>Adicionar aluno:</span>
    <form class="info">
        <label for="matricola">Número da matricula</label>
        <input id="matricola" [(ngModel)]="matricola" name="matricola" type="text">

        <label for="name">Nome do aluno:</label>
        <input id="name" [(ngModel)]="name" name="name" type="text">

        <label for="email">email:</label>
        <input id="email" [(ngModel)]="email" name="email" type="text">

        <button type="submit" >Adicionar</button>
    </form>
</section>