<main>
    <div class="content">
        <div class="header">
            <span>Lista de alunos</span>
            <nav>
                <div (click)="exibirLista()" >Exibir</div>
                <div (click)="adicionar()">Adicionar</div>
            </nav>
        </div>
    
        <section class="bodyList">
            <div class="bodyshow">
                <div class="section updateStudent">
                    <app-update-student></app-update-student>
                </div>

                <div class="section showStudents">
                    <app-aluno></app-aluno>
                </div>

                <div class="section addStundent">
                    <app-create-student></app-create-student>
                </div>
            </div>
        </section>
    </div>
</main>

<div class="showinfo hide">
    <div>
        <svg width="800px" height="800px" viewBox="0 0 1024 1024" fill="#000000" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M176.662 817.173c-8.19 8.471-7.96 21.977 0.51 30.165 8.472 8.19 21.978 7.96 30.166-0.51l618.667-640c8.189-8.472 7.96-21.978-0.511-30.166-8.471-8.19-21.977-7.96-30.166 0.51l-618.666 640z" fill="" /><path d="M795.328 846.827c8.19 8.471 21.695 8.7 30.166 0.511 8.471-8.188 8.7-21.694 0.511-30.165l-618.667-640c-8.188-8.471-21.694-8.7-30.165-0.511-8.471 8.188-8.7 21.694-0.511 30.165l618.666 640z" fill="" /></svg>
        <h2>Aluno</h2>

        <p>N° matricula: <span>00000001</span></p>
        <p>Nome: <span>eduardo pinheiro miranda</span></p>
        <p>Email: <span>teste&#64;gmail.com</span></p>


    </div>
</div>